
    .container{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* background-color: whitesmoke; */
        width: 100%;
        align-items: center;
        z-index: 1;
        height: 100px;
    }
    .left{
        padding: 25px;
        width: 200px;
        
    }
    .middle{
        display: flex;
        justify-content: center;
        padding: 10px;
        margin: 10px;
    }
    .right{
        padding: 25px;
        width: 200px;
        display: flex;
        flex-direction: row;
    }
    .mode{
        margin: 5px;
    }
    
    .sidebar{
        
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
        /* width: 10%; */
        padding-top: 200px;
        box-shadow: 1px 0 0 0 #ff00ff55; 
       

    
    }
    .side{
     color: rgb(15, 6, 6);
     padding: 20px;
     margin: 30px;
     color: white;
     list-style: none;
     margin-left: 0;
     font-weight: 600;
     
   }
   .side:hover {
    color: #c40094;
   }
    
    body{
        padding-left: 100px;
        padding-top: 100px;
        /* padding: 1000px; */
    }
    img{
        display: block;
        width: 50%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    }
    .profile-img{
        width: 80px; 
        height: 80px; 
        border-radius: 50%; 
        overflow: hidden; 
        margin-left: 2rem;
        margin-bottom: 20rem;
    }

    h2{
        text-align: center;
        
    }
    h3{
        text-align: center;
        padding: 20px;
    }
    .img-container{
        background-color: whitesmoke;
        margin-left: 20%;
        margin-right: 20%;
        padding: 70px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
        
    }
    
    
/* Thomas */
/* (A) WRAPPER */
#quizWrap {
    max-width: 600px;
    margin: 0 auto;
    /* RECOMMENDED FIXED HEIGHT IF YOU HAVE CONTENT BELOW THE QUIZ */
    /* SO THAT PAGE LAYOUT DOES NOT "JUMP" */
    /* height: 250px; */
  }
  
  /* (B) QUESTION */
  #quizQn {
    padding: 20px;
    background: #4c93ba;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
  }
  
  /* (C) ANSWERS */
  #quizAns {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  #quizAns input[type=radio] { display: none; }
  #quizAns label {
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }
  #quizAns label.correct {
    background: #d8ffc4;
    border: 1px solid #60a03f;
  }
  #quizAns label.wrong {
    background: #ffe8e8;
    border: 1px solid #c78181;
  }
  
  /* (X) DOES NOT MATTER - COSMETICS */
  /* PAGE & BODY */
  * {
    font-family: arial, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center; justify-content: center;
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1554034483-04fda0d3507b?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0ODAwMTA1MQ&ixlib=rb-1.2.1&q=85);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  
  /* WIDGET */
  .widget-wrap {
    width: 600px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    margin-top: 20rem;
    margin-right: 10rem;
    margin-left: 10rem;
  }
  
  /* FOOTER */
  #code-boxx {
    font-weight: 600;
    margin-top: 30px;
  }
  #code-boxx a {
    display: inline-block;
    border: 0;
    padding: 5px;
    text-decoration: none;
    background: #b90a0a;
    color: #fff;
  }
  /* PAGE & BODY */
* {
    font-family: arial, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center; justify-content: center;
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1554034483-04fda0d3507b?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0ODAwMTA1MQ&ixlib=rb-1.2.1&q=85);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  } 
  /* WIDGET */
.widget-wrap {
    width: 600px;
    padding: 30px; 
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
  }
  
  /* FOOTER */
  #code-boxx {
    font-weight: 600;
    margin-top: 30px;
  }
  #code-boxx a {
    display: inline-block;
    border: 0;
    padding: 5px;
    text-decoration: none;
    background: #b90a0a;
    color: #fff;
  }

  /* (B) QUESTION */
#quizQn {
    padding: 20px;
    background: #4c93ba;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
  }
  
  /* (C) ANSWERS */
  #quizAns {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  #quizAns input[type=radio] { display: none; }
  #quizAns label {
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }
  #quizAns label.correct {
    background: #d8ffc4;
    border: 1px solid #60a03f;
  }
  #quizAns label.wrong {
    background: #ffe8e8;
    border: 1px solid #c78181;
  }

  /* Thomas */
  /* (A) WRAPPER */
#quizWrap {
  max-width: 600px;
  margin: auto;
  /* RECOMMENDED FIXED HEIGHT IF YOU HAVE CONTENT BELOW THE QUIZ */
  /* SO THAT PAGE LAYOUT DOES NOT "JUMP" */
  /* height: 250px; */
}

/* (B) QUESTION */
#quizQn {
  padding: 20px;
  background: #4c93ba;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
}

/* (C) ANSWERS */
#quizAns {
  margin: 10px 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
#quizAns input[type=radio] { display: none; }
#quizAns label {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
#quizAns label.correct {
  background: #d8ffc4;
  border: 1px solid #60a03f;
}
#quizAns label.wrong {
  background: #ffe8e8;
  border: 1px solid #c78181;
}

/* (X) DOES NOT MATTER - COSMETICS */
/* PAGE & BODY */
* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center; justify-content: center;
  min-height: 100vh;
  background-image: url();
  background-position: center;
  background-size: cover;
  text-align: center;
}

/* WIDGET */
.widget-wrap {
  width: 600px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
}

/* FOOTER */
#code-boxx {
  font-weight: 600;
  margin-top: 30px;
}
#code-boxx a {
  display: inline-block;
  border: 0;
  padding: 5px;
  text-decoration: none;
  background: #b90a0a;
  color: #fff;
}
/* PAGE & BODY */
* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center; justify-content: center;
  min-height: 100vh;
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
} 
/* WIDGET */
.widget-wrap {
  width: 600px;
  padding: 30px; 
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
}

/* FOOTER */
#code-boxx {
  font-weight: 600;
  margin-top: 30px;
}
#code-boxx a {
  display: inline-block;
  border: 0;
  padding: 5px;
  text-decoration: none;
  background: #b90a0a;
  color: #fff;
}

/* (B) QUESTION */
#quizQn {
  padding: 20px;
  background: #B2008A;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
}

/* (C) ANSWERS */
#quizAns {
  margin: 10px 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
#quizAns input[type=radio] { display: none; }
#quizAns label {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
#quizAns label.correct {
  background: #d8ffc4;
  border: 1px solid #60a03f;
}
#quizAns label.wrong {
  background: #ffe8e8;
  border: 1px solid red;
}

/* ui redesign */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: black;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 2.7vh 10%; */
    padding: 26px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 1px 0 0 #ff00ff55;
    /* height: 12%; */
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 3rem #09001d);
}
.navbar a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 3rem;
    transition: .3s;
}
.navbar a:hover, .navbar a.active, .docs-link:hover {
    color: #c40094;
}

.main {
    min-height: 100vh;
    background: url('') no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 20rem;
}

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    text-align: center;
}

.home-content p {
    font-size: 1rem;
    text-align: center;
    text-shadow: 0 0 2rem rgba(0, 0, 0, .3);
    margin-bottom: 7rem;
}

.home-content .start-btn {
    width: 10rem;
    height: 3rem;
    background: #fff;
    color: #C600AB;
    border: 0.1rem solid #fff;
    outline: none;
    border-radius: 3rem;
    box-shadow: 0 0 0.1rem #c40094;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}
.home-content .start-btn:hover {
    background: #09001d;
    box-shadow: none;
}
.popup-info {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%) scale(.9);
    width: 20rem;
    background: #fff;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}
.popup-info .active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50% -50%) scale(1);
}

.popup-info h2{
    font-size: 5rem;
    color: #c40094;
}

.popup-info .info {
    display: inline-block;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    margin: 1rem 0;
}
.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1rem solid #999;
    margin-top: 0.2rem;
    padding: 0.5rem 0 1rem;
}

.popup-info .btn-group .info-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 3rem;
    background: #c40094;
    border: 0.1rem solid #c40094;
    border-radius: 1.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    transition: .5s;
}
.popup-info .btn-group .info-btn:nth-child(1) {
    background: transparent;
    color: #c40094;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
    background: #c40094;
    color: #fff;
}
.popup-info .btn-group .info-btn:nth-child(2):hover {
    background: #950170;
    border-color: #950170;
}
.homepage {
    color: #fff;
}
.home-content h1 {
    font-size: 2.5rem;
}
.homepage p {
    font-size: 0.5rem;
}


  .bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite ;
  }
  .bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 150;

  }
  @keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        
        opacity: 1;
    }
    70% {
        
        opacity: 1;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
  }
   /* makes bubbles move at a different speed  */
  .bubbles img:nth-child(1) {
    animation-delay: 2s;
  }
  .bubbles img:nth-child(2) {
    animation-delay: 1s;
  }
  .bubbles img:nth-child(3) {
    animation-delay: 3s;
  }
  .bubbles img:nth-child(4) {
    animation-delay: 4.5s;
  }
  .bubbles img:nth-child(5) {
    animation-delay: 3s;
  }
  .bubbles img:nth-child(6) {
    animation-delay: 6s;
  }
  .bubbles img:nth-child(7) {
    animation-delay: 7s;
  }

.welcome-container {
    background-image: url("");
}
#logo {
  width: 5.5rem;
}
.sidebar {
  background-color: #6E0061;
  /* margin-top: 10rem; */
  margin-top: 100px;
  opacity: 0.5;
  margin-bottom: 0;
}
.docs-link {
  text-decoration: none;
  color: white;
}